.cryptoDashboard {
  margin-top: -3%;
  padding: 20px;
  text-align: center;
}
h1{
  background-color: #363636;
  margin-top: -0.2%;
  font-family: 'Poppins';
  color: white;
  padding: 0.9%;
  padding-left: 3%;
  font-size: 25px;
}
h2{
  margin-left: 10%;
  font-family: 'Poppins';
}

.searchInput {
  /* margin-bottom: 10px; */
  padding: 12px;
  font-family: 'Poppins';
  margin-top: 20px;
  width: 80%;
  height: 1%;
  max-width: 255px;
  border-radius: 32px;
  margin-left: 32%;
  border: 1px solid #ccc;
}
.searchField{
  display: flex;
}

.tableContainer {
  overflow-x: auto;
}

.cryptoTable {
  font-family: 'Poppins';
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
}

.cryptoTable th, .cryptoTable td {
  border: 1px solid #ddd;
  padding: 12px;
  font-family: 'Poppins';
  text-align: left;
}

.cryptoTable th {
  background-color: #363636;
  font-family: 'Poppins';
  color: white;
}

.cryptoTable tr:hover {
  background-color: #f5f5f5;
}

.cryptoImage {
  width: 30px;
  height: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.pageButton {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  font-family: 'Poppins';
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.pageButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pageButton:hover:not(:disabled) {
  background-color: #0056b3;
}

.footer {
  color: white;
  font-family: 'Poppins';
  font-size: 0.75em;
  background-color: #363636;
  padding-left: 26%;
}

.cryptoDetails {
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  text-align: left;
  margin: 20px 0;
}

.closeButton {
  padding: 10px 20px;
  cursor: pointer;
  background-color: red;
  border-radius: 12px;
  color: white;
  /* border: none; */
  margin-top: 20px;
}

@media (max-width: 768px) {
  .searchInput {
    font-family: 'Poppins';
    width: 100%;
  }

  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .pageButton {
    margin-top: 10px;
  }
}
